<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Asciiii - Ascii Style Converter</title>
   <style>
   body{
    font-family: 'Open Sans',serif;
 }
  </style>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>
</head>
<body>
  <table>
	<tr>
		<td>
		<h1>Asciiii - Ascii Style Converter</h1>
		<form action="#" method="post" enctype="multipart/form-data">
		<table cellspacing="8">
      <tr>
          <td><label for="image">Image File: </label></td><td><input name="file" size="50" type="file"/></td>
      </tr>
      <tr>
          <td><label for="width">Ascii Width: </label></td><td><input name="lines" value="800" size="4" maxlength="4" type="text"/></td>
      </tr>
      <tr>
          <td><label for="invert">Eta (Slack Hyperparameter): </label></td>
          <td>
            <input type="range" min="0" max="1" value="0.15" class="slider" step="0.05" id="etaRange" name="etaRange" oninput="this.form.etaInput.value=this.value">
            <input type="number" name="etaInput" min="0.0" max="1.0" value="0.15" step="0.05" oninput="this.form.etaRange.value=this.value" />
          </td>
      </tr>
      <tr>
          <td><label for="invert">Color: </label></td>
			<td>
  			<select name="color" id="color">
  				<option selected="selected" value="0">No</option>
  				<option value="1">Yes</option>
  			</select>
			</td>
      </tr>
      <tr>
          <td><label for="invert">Light Load Mode: </label></td>
			<td>
  			<select name="light" id="light">
  				<option selected="selected" value="1">Yes</option>
  				<option value="0">No</option>
  			</select>
			</td>
      </tr>
        <tr>
            <td><br><input value="Submit" type="submit"/></td>
        </tr>
        </table>
  		</form>
  		</td>
  	</tr>
  </table>

  {% if ifcontent %}
    <h4>----------</h4>
    <h3>Original Image:</h3>
    <h4>{{ origin }}</h4>
    <img src="{{ original }}" alt="{{ original }}">
    <!-- <img src='/results/{{ ascii }}' alt='{{ ascii }}'> -->
    <h3>Asciified Text:</h3>
    <p style="white-space: pre-wrap;font-family:monospace;"">{{ ascii }}</p>
  {% endif %}

  {% if ifdebug %}
    <h4>----------</h3>
    <p>Wrong Type of Image. Support .png, .jpg, .jpeg, .gif.</p>
  {% endif %}

</body>

</html>
