<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asciiii - Ascii Style Converter</title>
  <!-- <style>
  input[type=submit] {
      background-color: #2f2f2f;
      border: none;
      color: white;
      padding: 12px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }
  input[type=submit]:hover {
      background-color: #808080;
  }
  input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  }
  </style> -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>
</head>
<body>
  <table>
	<tr>
		<td>
		<h1>Asciiii - Ascii Style Converter</h1>
		<form action="#" method="post" enctype="multipart/form-data">
		<table cellspacing="8">
      <tr>
          <td><label for="image">Image File: </label></td><td><input name="file" size="50" type="file"/></td>
      </tr>
      <tr>
          <td><label for="width">Ascii Height: </label></td><td><input name="lines" value="100" size="3" maxlength="3" type="text"/></td>
      </tr>
      <tr>
          <td><label for="invert">Color: </label></td>
			<td>
  			<select name="color" id="color">
  				<option selected="selected" value="0">No</option>
  				<option value="1">Yes</option>
  			</select>
			</td>
      </tr>
        <tr>
            <td><br><input value="Submit" type="submit"/></td>
        </tr>
        </table>
  		</form>
  		</td>
  	</tr>
  </table>
  {% if ifcontent %}
    <h3>----------</h3>
    <h3>Original Image:</h3>
    <img src='/uploads/{{ origin }}' alt='{{ origin }}'>
    <img src='/results/{{ ascii }}' alt='{{ ascii }}'>
    <h3>Asciified Text:</h3>
    <p class="grey">{{ ascii }}</p>
  {% endif %}

  {% if ifdebug %}
    <h3>----------</h3>
    <p>Wrong Type of Image. Support .png, .jpg, .jpeg, .gif.</p>
  {% endif %}

</body>

</html>
