<!DOCTYPE html>
<html lang="en">
<head>
  <title>asciiii</title>

</head>
<body>
	<header>
		<div style="float:left;"> <a href="/"> <img src="/images/logo.png" width="180" alt="logo" style="vertical-align:middle"> </a> </div>
		<div style="float:right;"> <h3><a href="/explore/">explore</a> | <a href="/u/awdeorio/">awdeorio</a></h3></div>
	</header>
	<div class="line"></div>
	<br />

	<div class="container">
		<article>
			<div style="float:left;"> <a href="/u/awdeorio/"> <img src="/uploads/e1a7c5c32973862ee15173b0259e3efdb6a391af.jpg" alt="Pic1" width="50" style="vertical-align:middle"> </a> </div>
			<div style="float:left;"> <a href="/u/awdeorio/"> <h3>awdeorio</h3> </a> </div>
			<div style="float:right;"> <a href="/p/3/"><h3 style="color: grey">10 minutes ago</h3></a></div>
		</article>

		<img src="/uploads/9887e06812ef434d291e4936417d125cd594b38a.jpg" alt="Pic" width="500">

		<article>

			<p>1 like</p>


			<p><a href="/u/awdeorio/"><strong>awdeorio</strong></a> #chickensofinstagram</p>

			<p><a href="/u/jflinn/"><strong>jflinn</strong></a> I &lt;3 chickens</p>

			<p><a href="/u/michjc/"><strong>michjc</strong></a> Cute overload!</p>

		</article>
	</div>
	<br />

	<div class="container">
		<article>
			<div style="float:left;"> <a href="/u/jflinn/"> <img src="/uploads/505083b8b56c97429a728b68f31b0b2a089e5113.jpg" alt="Pic1" width="50" style="vertical-align:middle"> </a> </div>
			<div style="float:left;"> <a href="/u/jflinn/"> <h3>jflinn</h3> </a> </div>
			<div style="float:right;"> <a href="/p/2/"><h3 style="color: grey">4 hours ago</h3></a></div>
		</article>

		<img src="/uploads/ad7790405c539894d25ab8dcf0b79eed3341e109.jpg" alt="Pic" width="500">

		<article>

			<p>2 likes</p>


			<p><a href="/u/awdeorio/"><strong>awdeorio</strong></a> Sick #crossword</p>

		</article>
	</div>
	<br />

	<div class="container">
		<article>
			<div style="float:left;"> <a href="/u/awdeorio/"> <img src="/uploads/e1a7c5c32973862ee15173b0259e3efdb6a391af.jpg" alt="Pic1" width="50" style="vertical-align:middle"> </a> </div>
			<div style="float:left;"> <a href="/u/awdeorio/"> <h3>awdeorio</h3> </a> </div>
			<div style="float:right;"> <a href="/p/1/"><h3 style="color: grey">a day ago</h3></a></div>
		</article>

		<img src="/uploads/122a7d27ca1d7420a1072f695d9290fad4501a41.jpg" alt="Pic" width="500">

		<article>

			<p>3 likes</p>


			<p><a href="/u/jflinn/"><strong>jflinn</strong></a> Walking the plank #chickensofinstagram</p>

			<p><a href="/u/awdeorio/"><strong>awdeorio</strong></a> This was after trying to teach them to do a #crossword</p>

		</article>
	</div>
	<br />


</body>

</html>
