div.container {
	width: 500px;
	border: 1px solid grey;
}

div.line {
	width: 500px;
	border: 1px solid #CCC
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: grey;
	background-color: transparent;
	text-decoration: none;
}

a:active {
	color: black;
	background-color: transparent;
	text-decoration: none;
}

header, footer {
	width: 500px;
	padding: 1em;
	font-family: times;
	overflow: hidden;
}

article {
	padding: 1em;
	font-family: times;
	border: 1px solid grey;
	overflow: hidden;
}
